/* ==UserStyle==
@name          YouTube SFW
@namespace     https://github.com/wdwind/YouTubeSFW
@version       1.0.0
@description   YouTube SFW: only audio. No video. No image.
@author        wddd
==/UserStyle== */
@-moz-document domain("www.youtube.com") {
    .video-stream {
        display: none !important;
    }
    img {
        display: none !important;
    }
    .ytp-ce-video {
        display: none !important;
    }
    .ytp-ce-expanding-image {
        display: none !important;
    }
    .ytp-videowall-still {
        display: none !important;
    }
    div {
        background-image: none !important;
    }
}